@import url("./about.css");
@import url("./general.css");
@import "./menu.css";
@import "./general.css";
@font-face {
  font-family: "Playwrite NZ Basic";
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playwritenzbasic/v1/YcmrsYdNS1SdgmHbGgtRtk4ljD2L-0ttuA.woff2)
    format("woff2");
}

button {
  border: none;
  background-color: #4b2e1e;
  padding:0.5rem 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1rem;
}

button:hover {
  background-color: #e9e4e2;
  color: #4b2e1e;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}



.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.header {
  top: 0;
  z-index: 3;
  position: fixed;
  width: 100vw;
  display: flex;
  max-height: 150px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: rgba(224, 208, 199, 0.4);
}

.res-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.res-name p {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Playwrite NZ Basic";
  color: #4b2e1e;
}

.image-overlay {
  height: 100%;
  width: 100%;
  position: relative;
}
.image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 700px;
  gap: 15px;
}
