
.menu-section {
  margin: 50px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  max-width: 600px;
  background-color: rgba(75, 46, 30);
  color: #f5f5f5;
  border-radius: 50px;
  
  
}

/* Main Title */
.menu-section h1 {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 2px;
}

/* Intro Text */
.menu-section p {
  text-align: center;
  color: #ccc;
  font-weight: bold;
}

/* Section Titles */
.menu-section h2 {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

/* Menu Lists */
.menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu Items */
.menu-section li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 1.05rem;
  border-bottom: 1px dashed #333;
}

/* Price Highlight */
.menu-section li span {
  color: #f4c430;
  font-weight: bold;
}

/* Hover Effect */
.menu-section li:hover {
  color: #f4c430;
  transform: translateX(5px);
  transition: all 0.2s ease;
}
.button-menu {
  padding: 14px;
  font-size: 1.1rem;
}
